#verify-location-map {
  .leaflet-container {
    height: 10rem;
  }

  .my-custom-pin span {
    background-color: #0ba533;
    width: 1.4rem;
    height: 1.4rem;
    display: block;
    position: relative;
    border-radius: 3rem 3rem 0;
    transform: rotate(45deg);
    border: 1px solid #ffffff;
  }
}
