#language-select {
  .background-image {
    height: 100vh;
    width: 100vw;
    filter: brightness(0.9);
  }

  .header {
    padding: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    text-align: center;

    ion-icon {
      font-size: 115px;
      --ionicon-stroke-width: 12px;
      color: var(--ion-color-light);
    }
  }

  .language-select-container {
    position: absolute;
    bottom: 0px;
    background: white;
    background-color: rgba(137, 184, 106, 0.263);
    backdrop-filter: blur(10px);

    .list-container {
      width: 100vw;

      p {
        color: var(--ion-color-dark);
        font-weight: bold;
      }

      ion-list {
        text-align: center;
        width: 100%;
        border-radius: 20px 20px 0 0;

        .language-icons {
          height: 40px;
          width: 40px;
          margin: 10px 20px 10px 0px;
        }

        ion-item {
          border-radius: 20px;
          max-width: 85%;
          margin: 30px auto;
          --background: white;
          color: var(--ion-color-dark);
          border: 1px solid #d2d2d2;
          font-size: 1.2em;

          .icon-wrapper {
            display: flex;
          }
        }
      }
    }
  }
}
