#home-user-surveys {
  ion-content {
    --background: #f0f0f0;
    --padding-top: 10%;
  }

  ion-header {
    ion-badge {
      display: inline;
      margin-left: 10px;
    }
  }

  .info-background-message {
    ion-icon {
      background: var(--ion-color-primary);
      padding: 5px;
      border-radius: 10px;
      color: white;
      margin: 0 5px 0 8px;
      margin-bottom: -7px;
    }
  }
  ion-item-sliding {
    box-shadow: 0 0 6px #b3b3b3;
  }
}
