#home-user-surveys {
  ion-content {
    --padding-top: 10%;
  }

  ion-header {
    ion-badge {
      display: inline;
      margin-left: 10px;
    }

    ion-segment-button {
      padding: 2px 5px;
      --padding-bottom: 5px;
      --padding-top: 5px;
    }
  }

  .info-background-message {
    ion-icon {
      background: var(--ion-color-primary);
      padding: 5px;
      border-radius: 10px;
      color: white;
      margin: 0 5px 0 8px;
      margin-bottom: -7px;
    }
  }

  ion-item-sliding {
    box-shadow: 0 0 30px #0000001f;
    max-width: 600px;
    margin: 0px auto 15px auto;
  }
}
