#survey-edit {
  .photo-picker {
    border-top: 1px solid #cccccc;
  }
  ion-item > ion-icon {
    color: var(--ion-color-primary);
  }

  .app-logo {
    max-width: 65%;
    border: 0;
    margin: 20px auto;
    display: block;
  }
}
