#survey-edit {
  .verification-message {
    --border-width: 0;

    ion-label {
      padding: 20px 0;
    }

    &.V {
      --background: #d0e4d8;
      ion-icon,
      ion-label ion-note {
        color: #295a1d !important;
      }
    }

    &.C {
      --background: #e4e3d0;
      ion-icon,
      ion-label ion-note {
        color: #5f4e2a !important;
      }
    }

    &.R {
      --background: #e4d0d0;
      ion-icon,
      ion-label ion-note {
        color: #7e1d1d !important;
      }
    }
  }

  .photo-picker {
    border-top: 1px solid #cccccc;
  }

  ion-item > ion-icon {
    color: var(--ion-color-primary);
  }

  .app-logo {
    max-width: 65%;
    border: 0;
    margin: 20px auto;
    display: block;
  }
}
