ion-menu ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --background: linear-gradient(to bottom, #a4cc38 0%, #098b5c 100%);

  ion-item {
    --inner-border-width: 0;
    --border-width: 0 0 2px 0;
    --border-color: #fff;
    width: 110%;
    color: #fff;
  }

  ion-icon {
    color: white;
  }
}

ion-menu ion-footer {
  background: #098b5c;
  border-top: #098b5c 1px solid;
  margin-top: -1px; // helps to fix border line

  div {
    text-align: center;
    color: #fff;
  }

  p {
    margin-top: 0;
    opacity: 0.9;
    font-size: 0.9em;
  }

  img {
    width: 40%;
  }
}

.logout-alert .alert-wrapper {
  ion-item {
    --background: transparent;
    border: none;
  }
}

ion-menu ion-item,
ion-menu ion-list {
  background: none !important;
  --background: none !important;

  ion-label {
    white-space: normal !important;
  }
}

/* Remove background transitions for switching themes */
ion-menu ion-item {
  --transition: none;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-menu ion-list-header {
  margin-bottom: 20px;
  color: #fff;
}

ion-menu ion-icon {
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 1);
  --ionicon-stroke-width: 26px;
}

ion-menu ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md {
  ion-list-header {
    padding-left: 18px;
    padding-right: 18px;

    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 450;
  }

  ion-item {
    --padding-start: 18px;
    --padding-end: 18px;
    margin-right: 10px;
    border-radius: 0 50px 50px 0;
    font-weight: 500;
  }

  ion-item.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
  }

  ion-item.selected ion-icon {
    color: var(--ion-color-primary);
  }
}

ion-menu.ios {
  ion-list-header {
    padding-left: 16px;
    padding-right: 16px;
  }

  ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --min-height: 50px;
  }

  ion-item ion-icon {
    font-size: 24px;
  }
}
