// ACCESSIBILITY IMPROVEMENTS START
ion-button:not(.button-has-icon-only),
ion-item {
  font-size: 1em;
  &.md {
    font-size: 0.9em;
  }
}
// clearer image picker empty message
.photo-picker {
  &.ios .empty {
    font-size: 0.9em !important;
  }
  &.md .empty {
    font-size: 1em !important;
  }
}

// brighter and bigger divider
ion-item-divider {
  font-size: 0.9em;
  color: var(--ion-text-color);
  padding: 0 5px 7px 5px;
}

// brighter attribute page divider
.attr-page ion-item-divider ion-label {
  margin-top: 10px;
  margin-left: 10px;
}

// brighter default radio option
.radio-input-attr ion-radio-group > ion-item.radio-input-default-option {
  opacity: 1 !important;
  --background: #ffffff78;
}

// clearer date picker
.date-input-attr ion-label[slot='end'] {
  font-size: 1em;

  &.ios {
    font-size: 0.9em;
  }
}

// clearer menu items
.menu-attr-item,
.attr-wrapper {
  ion-icon[slot='start'] {
    --ionicon-stroke-width: 24px;
  }
  ion-label[slot='end'] {
    opacity: 1 !important;
    color: #000000b3;

    &.ios {
      font-size: 0.9em;
    }
  }
}

// larger collapse headers
.collapse-block ion-label.ion-text-wrap {
  font-size: 0.9em;
}

// larger radio inputs
.radio-input-attr ion-item ion-label.ios {
  font-size: 0.9em !important;
}

// clearer alert messages
ion-alert div.alert-message.sc-ion-alert-md {
  color: black;
  font-size: 1.1em;
}

// ACCESSIBILITY IMPROVEMENTS END
